@import "mixins";

$color-primary-links: #5f37ff;
$color-primary-titles: #8975db;

.menu {
  margin-top: 1.5em;
}
.menuHeader {
  display: flex;
}
.menuTitle {
  font-family: "Titillium Web", sans-serif;
  font-style: italic;
  font-size: 1.75em;
  margin: auto 0;
  margin-left: 1em;
}
.menuLinks {
  a {
    transition: color 0.2s ease;
    color: black;
    margin-left: 7.2em;
    font-family: "Titillium Web", sans-serif;
    display: block;
    width: fit-content;
  }
  a:hover {
    color: $color-primary-links;
  }
}
.icon {
  margin-left: 2.25em;
  padding: 0.75em 0.5em;
  cursor: pointer;
}

.title {
  width: fit-content;
  margin: 0 auto;
  font-family: "Titillium Web", sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 4em;
  line-height: 0.75;
  user-select: none;
}

.davedev {
  color: #818181;
}
.softdev {
  color: $color-primary-titles;
}

@include desktop() {
  .menuTitle {
    display: none;
  }
  .menuLinks {
    display: none;
  }
  .title {
    font-size: 2.6em;
    margin-top: 5em;
  }
}
