.menu {
  margin-top: 1.5em;
}
.menuHeader {
  display: flex;
}
.menuTitle {
  font-family: "Titillium Web", sans-serif;
  font-style: italic;
  font-size: 1.75em;
  margin: auto 0;
  margin-left: 1em;
}
.menuLinks a {
  margin-left: 7.2em;
  font-family: "Titillium Web", sans-serif;
  display: block;
  width: fit-content;
}

.icon {
  margin-left: 2.25em;
  padding: 0.75em 0.5em;
}

.title {
  width: fit-content;
  margin: 0 auto;
  font-family: "Titillium Web", sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 4em;
  line-height: 0.75;
  user-select: none;
}

.davedev {
  color: #818181;
}
.softdev {
  color: #8975db;
}

/* @media only screen and (min-width: 480px) {
} */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .menuTitle {
    display: none;
  }
  .menuLinks{
    display: none;
  }
}
